# Ignore the virtual environment directory
venv/

# Ignore other common files and directories
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
DBSTRING
Mongo_connection.py
.DS_Store
.idea/
.vscode/
.env
