.main-content {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  background-color: rgb(43, 42, 41);
}

.main-content .container-fluid-fileup {
  flex-grow: 1;
}
.container-fluid-fileup {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.2);
  text-align: center;
  width: 100%;
}
h1 {
  color: #000000;
  margin-bottom: 20px;
}
.form-control {
  margin-bottom: 10px;
}

button.btn {
  width: 100%;
}

@media (max-width: 768px) {
  .main-content {
    min-height: 60vh;
  }
}
